html {
  font-family: sans-serif;
}

#reset-btn {
  position: absolute;
  top: 23px;
  right: 50px;
}

.input-hp-form {
  position: absolute;
  margin: 8px;
  border: 1px solid #ff0062;
  padding: 16px;
  top: 23px;
  left: 50px;
  box-shadow: 4px -3px 5px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.game-log-form {
  position: absolute;
  margin: 8px;
  border: 1px solid #ff0062;
  padding: 16px;
  top: 200px;
  left: 50px;
  box-shadow: 4px -3px 5px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  width: 300px;
  height: 100px;
}

.alert-message {
  position: absolute;
  margin: auto;
  border: 1px solid #ff0062;
  padding: 16px;
  margin: 8px;
  top: 23px;
  left: 15%;
  box-shadow: 4px -3px 5px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  width: 400px;
  height: 100px;
  display: none;
}

.close-button {
  position: absolute;
  right: 20px;
}

body {
  background: #2c2c2c;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0062;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 4px -3px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}

#health-levels,
#controls {
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

#controls {
  display: flex;
  flex-direction: column;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.minions {
  margin-right: 60px;
  margin-left: 60px;
  width: 180px;
  height: 200px;
}

.rotated {
  transform: rotate(90deg) !important;
  margin-top: 40px;
}