@font-face {
  font-family: 'Rosarium';
  src: url('../fonts/Rosarium.ttf');
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 280px 240px !important;
  }

  body > .alert-message {
    position: relative;
    width: 180px;
    height: 130px;
    gap: 5px;
    padding-bottom: 0px;
  }

  .message-text {
    font-size: 1rem;
  }

  .reset-button {
    left: 60px;
  }

  .first-column-up {
    transform: translateY(-130px);
    max-width: 220px;
  }

  body > .first-column-down {
    transform: translateY(-220px);
    max-width: 240px;
    height: 280px;
    min-height: 260px;
    padding-right: 5px;
  }

  .close-button {
    position: absolute;
    right: 8px;
    bottom: 2px;
    border-radius: 20px;
  }

  .second-column-down {
    height: 140px;
    font-size: 1rem;
  }

  section > button {
    height: 20px;
    align-self: center;
    padding: 0px;
  }

  div > .minions {
    width: 100px;
    height: 110px;
  }
}

@media (max-width: 480px) {
  body {
    display: flex !important;
    flex-direction: column;
    min-width: 240px !important;
    max-width: 300px !important;
    align-items: stretch;
  }

  #reset-btn {
    position: fixed;
    top: 20px;
    right: 10px;
    left: auto;
    width: 60px;
  }

  #alert-message-popup {
    position: absolute;
    transform: none;
    height: 120px;
    font-size: 0.1px !important;
    z-index: 1;
    margin-top: 5px;
  }

  #alert-message-popup > .close-button {
    z-index: 1;
    color: black;
  }

  body > .first-column-up {
    transform: none;
    order: 1;
    height: 60px;
    padding-left: 20px;
    margin-top: 5px;
  }

  body > .second-column-up {
    order: 2;
    margin-top: 5px;
    margin-left: 20px;
    height: 240px;
    padding: 0px;
  }

  .second-column-down {
    order: 3;
    margin-top: 5px;
    margin-left: 20px;
    height: 120px;
    padding: 0px;
  }

  .image-container {
    order: 4;
  }

  body > .first-column-down {
    order: 5;
    transform: none;
  }
}

html {
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 440px));
  grid-template-areas: 
    "alert-message second-column-up"
    "first-column-up second-column-down" 
    "first-column-down image-container";
  min-width: 1000px;
  max-width: 1200px;
  background: repeating-linear-gradient(rgb(0, 0, 0) 0, rgb(17, 78, 17) 1px, rgb(5, 5, 5) 3px);
  margin: 0px;
}

section {
  border-radius: 20px;
}

h2, span {
  font-size: 1.25rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ff0062;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 4px -3px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}

.alert-message {
  display: flex;
  grid-area: alert-message;
  max-width: 300px;
  max-height: 150px;
  background-color: #eee;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  padding: 20px;
  padding-top: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

.first-column-up {
  grid-area: first-column-up;
  background-color: #eee;
  width: 190px;
  height: 60px;
  padding: 5px;
  padding-left: 20px;
  margin-left: 20px;
}

.first-column-down {
  grid-area: first-column-down;
  background-color: #eee;
  font-family: Rosarium;
  font-size: 1rem;
  transform: translateY(-160px);
  margin-left: 20px;
  margin-right: 10px;
  min-height: 300px;
}

.second-column-up {
  margin-top: 20px;
  position: relative;
  grid-area: second-column-up;
  margin-bottom: 10px;
  max-width: 440px;
}

.reset-button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 120px;
}

.second-column-down {
  display: flex;
  flex-direction: column;
  grid-area: second-column-down;
  align-items: center;
  max-width: 440px;
}

.image-container {
  grid-area: image-container;
  display: flex;
  justify-content: center;
  padding: 1rem;
  max-width: 420px;
}

.second-column-up,
.second-column-down {
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: #eee;
  gap: 1rem;
}

.minions {
  width: 180px;
  height: 200px;
}

#bonus-life {
  font-weight: bold;
  color: #eee;;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  text-align: center;
  border-radius: 50px;
  margin-left: 5px;
}

.rotated {
  transform: rotate(90deg) !important;
}
